@import '../../variables';

.input_field {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

  .input {
    position: relative;
    width: 100%;
  }

  label {
    margin-right: 16px;
  }

  input {
    width: 336px;
    height: 40px;
    padding: 8px 12px;
    border: $border-gray;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    transition: ease .3s;
    outline: none;
    background-color: $white;

    &:hover:not(:disabled):not(:focus) {
      box-shadow: $shadow-gray;
    }

    &:disabled {
      border: 1px solid $gray-disabled;
      color: $gray-disabled;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      color: #6C6D6F
    }
  }

  input[type=search],
  input {
    &:focus {
      border: 1px solid $green-main;
      box-shadow: $shadow-green;
    }

    &:disabled {
      border-color: $gray-dark;
      color: $gray-dark;

      &::placeholder {
        color: $gray-dark;
      }
    }
  }

  input[type=search]::-webkit-search-decoration,
  input[type=search]::-webkit-search-cancel-button,
  input[type=search]::-webkit-search-results-button,
  input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }

  input[type=search] {
    padding: 11px 42px;
    border: 1px solid $gray-dark;
    border-radius: 8px;

    &:not(:focus):hover {
      box-shadow: 0 0px 5px $gray-dark;
    }
  }

  svg {
    position: absolute;
    top: 11px;
    left: 16px;
  }
}
