@import '../../variables.scss';

fieldset {
  border: none;
}

.tabs-block {
  border: 1px solid $gray-dark;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: $shadow;
  margin-top: 24px;

  nav {
    padding: 31px 24px 0px 24px;
    border-bottom: 1px solid $gray-dark;

    ul {
      list-style-type: none;
      display: flex;
      height: 46px;

      button {
        height: auto;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        padding: 13px 15px 11px 15px;
        border: 1px solid transparent;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.03em;
        transition: color ease .3s;

        &:hover,
        &:focus {
          color: $green;
        }
      }

      button.active{
        border: 1px solid $gray-dark;
        border-bottom: none;
        border-radius: 6px 6px 0px 0px;
        position: relative;
        color: $green;

        &:after {
          content: '';
          position: absolute;
          bottom: -2px;
          right: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: $white;
        }
      }
    }
  }

  .form-behavior {
    .goal-fields {
      display: flex;
      align-items: center;
      margin-top: 24px;
      margin-left: 148px;

      .goal-input {
        margin-right: 24px;

        input {
          max-width: 192px;
        }
      }

      .currency-select select {
        max-width: 80px;
      }
    }

    .select-item,
    .goal-fields,
    .radio-group,
    .range-item {
      margin-bottom: 24px;
    }

    .range-group {
      margin-left: 78px;

      .range-item {
        margin-left: 18px;
      }
    }

    .checkbox-item {
      margin-bottom: 32px;
      margin-left: 200px;
    }

    .radio-group {
      display: flex;
      margin-left: 60px;

      span {
        margin-right: 16px;
        font-size: 16px;
        line-height: 24px;
      }

      div + div {
        margin-top: 16px;
      }
    }

    .select-item {
      margin-left: 92px;
    }
  }

  .content {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $gray-dark;
  }

  .buttons {
    padding: 23px 32px;
    border-top: 1px solid $gray-dark;
    background-color: #FFFBEC;

    button + button {
      margin-left: 16px;
    }
  }
}
