@import '../../variables.scss';
@import '../../mixins.scss';

.tabs-block {
  border: 1px solid $gray-dark;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: $shadow;
  margin-top: 24px;

  nav {
    padding: 31px 24px 0px 24px;
    border-bottom: 1px solid $gray-dark;

    ul {
      list-style-type: none;
      display: flex;
      height: 46px;
      overflow-x: scroll;
      margin-bottom: -1px;

      button {
        height: auto;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        padding: 13px 15px 11px 15px;
        border: 1px solid transparent;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.03em;
        transition: color ease .3s;
        white-space: nowrap;

        &:hover,
        &:focus {
          color: $green;
        }
      }

      button.active{
        border: 1px solid $gray-dark;
        border-radius: 6px 6px 0px 0px;
        position: relative;
        color: $green;
        border-bottom: 1px solid $white;
      }
    }
  }

  .form-behavior {
    fieldset {
      border: none;
    }

    .goal-fields {
      display: flex;
      align-items: center;
      margin-top: 24px;
      margin-left: 148px;

      @include mobile {
        margin-left: 0;
        align-items: flex-end;
      }

      .goal-input {
        margin-right: 24px;

        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: start;

          label {
            margin-bottom: 8px;
          }
        }

        input {
          max-width: 192px;
        }
      }

      .currency-select select {
        width: 80px;
      }
    }

    .select-item,
    .goal-fields,
    .radio-group,
    .range-border {
      margin-bottom: 24px;

      @include mobile {
        margin-bottom: 18px;
      }
    }

    .range-group {
      margin-left: 78px;

      @include mobile {
        margin-left: 0;
      }

      .range-border {
        margin-left: 18px;

        @include mobile {
          margin-left: 0;
        }
      }

      .range-item {
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: start;

          label {
            margin-bottom: 4px;
          }
        }
      }
    }

    .checkbox-item {
      margin-bottom: 32px;
      margin-left: 200px;

      @include mobile {
        margin-left: 0;
        margin-bottom: 18px;
      }
    }

    .radio-group {
      display: flex;
      margin-left: 60px;

      @include mobile {
        margin-left: 0;
        flex-direction: column;

        span {
          margin-bottom: 8px;
        }
      }

      span {
        margin-right: 16px;
        font-size: 16px;
        line-height: 24px;
      }

      div + div {
        margin-top: 16px;
      }
    }

    .select-item {
      margin-left: 92px;

      @include mobile {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          margin-bottom: 8px;
        }
      }
    }
  }

  .content {
    padding: 40px 0;
    border-bottom: 1px solid $gray-dark;

    @include mobile {
      padding: 24px 24px;
    }
  }

  .buttons {
    padding: 23px 32px;
    border-top: 1px solid $gray-dark;
    background-color: #FFFBEC;

    @include mobile {
      padding: 18px 24px;
      display: flex;
      flex-direction: column;
    }

    button + button {
      margin-left: 16px;

      @include mobile {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }
}
