@import '../../variables.scss';
@import '../../mixins.scss';

.menu_wrapper {
  border: 1px solid $gray-dark;
  border-radius: 8px;
  overflow: hidden;
  width: 264px;
  box-shadow: $shadow;

  @include mobile {
    width: 100%;
  }

  ul {
    li + li {
      border-top: 1px solid $gray-dark;
    }

    li {
      list-style-type: none;
      overflow: hidden;

      & > button {
        outline: none;
        cursor: pointer;
        padding: 11px 16px;
        display: flex;
        align-items: center;
        transition: ease .8s;
        background-color: transparent;
        border: none;
        width: 100%;
        font-size: 16px;
        line-height: 28px;

        &:hover,
        &:focus {
          background-color: $gray;
        }

        span {
          margin-left: 8px;
          width: 100%;
          text-align: start;
        }
      }
    }
  }
}
