.main_section {
  display: flex;
  margin-top: 24px;
  margin-bottom: 56px;

  &-left {
    max-width: 936px;
    width: 100%;
    margin-right: 24px;
  }

  .menu-sticky {
    position: sticky;
    top: 24px;
  }
}
