@import '../../variables';

.select_field {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;

  .select {
    position: relative;
  }

  select {
    outline: none;
    appearance: none;
    border: none;
    background-color: transparent;
    z-index: 1;
    padding-right: 24px;
    font-size: 16px;
    line-height: 24px;
    transition: ease .3s;

    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &.primary {
    select {
      width: 296px;
      height: 40px;
      border: 1px solid #A9ABAE;
      border-radius: 6px;
      padding: 8px 28px 8px 12px;
      background-color: $white;

      &:not(:disabled):hover {
        box-shadow: 0 0px 2px #A9ABAE;
      }

      &:focus {
        border: 1px solid $green-main;
        box-shadow: 0 0px 2px $green-main;
      }

      &:disabled {
        border: 1px solid $gray-disabled;
        color: $gray-disabled;
      }
    }

    svg {
      right: 4px;
      top: 8px;
    }
  }

  &.secondary {
    select {
      height: 24px;
      width: 116px;
      border: none;

      &:not(:disabled):hover {
        color: #A9ABAE;
      }

      &:focus {
        color: $green-main;
      }
    }
  }

  label {
    margin-right: 16px;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
  }
}
