@import '../../variables';

.range_field {
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;

  & > div {
    display: flex;
    align-items: center;
  }

  label, input {
    margin-right: 16px;
  }

  input[type=range],
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    outline: transparent;
    transition: ease .3s;
  }

  input[type=range] {
    border-radius: 8px;
    height: 3px;
    width: 218px;
    background-color: $gray-dark;

    &:not(:disabled) {
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      background-color: $green-main;
      border-radius: 50%;
      width: 19px;
      height: 19px;
    }

    &::-moz-range-thumb {
      border: none;
      background-color: $green-main;
      border-radius: 50%;
      width: 19px;
      height: 19px;
    }

    &:focus::-webkit-slider-thumb,
    &:not(:disabled):hover::-webkit-slider-thumb {
      box-shadow: 0 0px 5px $green-main;
    }

    &:disabled::-webkit-slider-thumb {
      background-color: $gray-dark;
    }

    &:focus::-moz-range-thumb,
    &:not(:disabled):hover::-moz-range-thumb {
      box-shadow: 0 0px 5px $green-main;
    }

    &:disabled::-moz-range-thumb {
      background-color: $gray-dark;
    }
  }
}
