@import '../../variables';
@import '../../mixins.scss';

.checkbox_field {
  font-size: 16px;
  line-height: 24px;
  width: fit-content;

  input[type=checkbox] {
    appearance: none;
    position: absolute;

    &:not(:disabled) + label {
      cursor: pointer;
    }

    & + label {
      position: relative;
      display: flex;
      align-items: center;

      @include mobile {
        align-items: flex-start;
      }
    }

    & + label::before,
    & + label::after {
      transition: ease .3s;

      @include mobile {
        margin-top: 4px;
      }
    }

    & + label::before {
      content: '';
      position: relative;
      display: inline-block;
      margin-right: 12px;
      min-width: 24px;
      min-height: 24px;
      background-color: $white;
      border: $border-gray;
      border-radius: 4px;
    }

    &:checked + label::before {
      border: 2px solid $green-main;
    }

    &:checked + label::after {
      content: '';
      position: absolute;
      top: 7px;
      left: 5px;
      border-left: 2px solid $green-main;
      border-bottom: 2px solid $green-main;
      height: 6px;
      width: 14px;
      transform: rotate(-45deg);
      border-radius: 1px;
    }

    &:not(:disabled):focus + label::before {
      border: 2px solid $green-main;
      box-shadow: 0 0px 5px $green-main;
    }

    &:not(:checked):not(:disabled):hover + label::before {
      box-shadow: $shadow-gray;
    }

    &:not(:disabled):checked:hover + label::before {
      border: 2px solid $green-main;
      box-shadow: 0 0px 5px $green-main;
    }

    &:disabled + label::before,
    &:disabled + label::after {
      border-color: $gray-disabled;
    }

    &:disabled + label {
      color: $gray-dark;
    }
  }
}
