@import '../../variables.scss';
@import '../../mixins.scss';

.donation {
  &_block {
    width: 100%;
    border-radius: 8px;
    border: 1px solid $gray-dark;
    box-shadow: $shadow;
    overflow: hidden;
  }

  &-info {
    padding: 23px 32px 24px 32px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-wrap: wrap;
      padding-right: 24px;
      padding-left: 24px;
    }

    .info_block {
      display: flex;
      flex-direction: column;

      @include mobile {
        flex-direction: row;
        align-items: center;
      }

      .title,
      .value > span {
        font-family: 'Source Code Pro', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
      }

      .title {
        color: #919293;

        @include mobile {
          margin-right: 12px;
        }
      }

      .value {
        display: flex;
        align-items: center;
        background-color: transparent;

        span {
          margin-right: 8px;
        }
      }
    }
  }

  &_sum {
    display: flex;
    flex-direction: column;

    @include mobile {
      margin-bottom: 16px;
    }

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 4px;

      & > span {
        margin-left: 8px;
      }
    }

    &-value {
      display: flex;
      align-items: baseline;

      .default {
        color: $green;
        font-size: 24px;
        line-height: 32px;
        margin-right: 9px;
      }

      .convert {
        font-size: 16px;
        line-height: 24px;
        color: #6C6D6F
      }
    }
  }

  &-status-info {
    background-color: $gray-light;
    border-top: 1px solid $gray-dark;
    padding: 15px 32px;

    @include mobile {
      flex-wrap: wrap;
      padding-right: 24px;
      padding-left: 24px;
    }

    ul {
      display: flex;
      list-style-type: none;

      @include mobile {
        flex-direction: column;
      }

      li + li {
        position: relative;
        border-left: 1px solid #D7D8DA;
        padding-left: 32px;

        @include mobile {
          padding-left: 0;
          margin-top: 12px;
          padding-top: 12px;
          border-left: none;
          border-top: 1px solid #D7D8DA;
        }
      }

      li {
        display: flex;
        flex-direction: column;
        padding-right: 32px;

        &:first-child {
          padding-right: 13px;

          @include mobile {
            padding-right: 0;
          }
        }

        .item-name {
          color: #6C6D6F;
          margin-bottom: 2px;
        }

        .status {
          color: $green;
          display: flex;
          align-items: center;

          svg {
            margin-right: 8px;
          }
        }

        a,
        .status {
          font-size: 16px;
          line-height: 24px;
        }

        a {
          color: #6665DD;

          &:visited {
            color: #8a88d8;
          }
        }
      }
    }
  }
}
