$gray-light: #FAFAFA;
$gray-dark: #DBDCDE;
$gray: #F3F3F3;
$gray-disabled: #dddcdc;

$black-main: #2F2F30;
$white: #FFFFFF;
$green: #00A651;
$green-main: #2EB670;
$green-light: #7ec4a0;

$shadow: 1px 3px 3px rgba(62, 63, 64, 0.1);